@model HairSalon.Models.Stylist

<h1>New Stylist Form</h1>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Specialty)
    @Html.TextBoxFor(model => model.Specialty)
    <input type="submit" value="Submit!" />
}
<p>@Html.ActionLink("Show all categories", "Index")</p>