<title>@Model.Name Details</title>
@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name), @Html.DisplayFor(model => model.Specialty) Specialist</h3>

<ul>
@if (@Model.Clients.Count == 0)
{
  <p>No Clients found</p>
}
<h5>Client List:</h5>
@foreach (Client client in @Model.Clients)
{
  <li>@client.FirstName @client.LastName</li>
}
</ul>

<p>@Html.ActionLink("Stylists", "Index")</p>
