<title>@Model.currentStylist.Name Details</title>
@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model dynamic;

<h2>Stylist Details</h2>
<hr />
<h3>@Model.currentStylist.Name</h3>

<ul>
@if (@Model.clientList.Count == 0)
{
  <p>No Clients found</p>
}
<h5>Client List:</h5>
@foreach (Client client in @Model.clientList)
{
  <li>@client.FirstName @client.LastName</li>
}
</ul>

<p>@Html.ActionLink("Stylists", "Index")</p>
